*{
    margin: 0;
    padding: 0;
}
.headingStyle {
    background: purple;
    color: white;
    text-align: center;
}

.card {
    background: cornsilk;
    padding: 20px;
    margin: 10px;
    width: 420px;
    display: inline-block;
    box-shadow: 2px 4px 4px gray;
}

.cardTitle {
    color: purple;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5px;
}

.cardDesc {
    text-align: justify;
    margin-bottom: 5px;
}

.cardFooter {
    font-weight: bold;
    text-align: center;
}